/* .main {
    border: .1px solid #414141;
    padding: 10px 100px 100px 100px;
    border-radius: 10px;
} */

h3 {
    border: 1px solid #fff;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
}

.comment {
    border: .1px solid #414141;
    padding: 10px 100px 100px 100px;
    border-radius: 10px;
}