input{
    height: 35px;
    width: 320px;
    border-radius: 10px;
    border: 1px solid #fff;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

}

textarea{
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 10px;
    margin-right: 10px;
    
}